{% extends "Gestiune/base.html" %}

{% block body %}
<h3 class="m-4">Toți Furnizorii</h3>
<div class="row">
    <div class="col-12">
        {% if furnizori %}
        <div class="card bg-light ms-4 me-4 mb-4">
            <div class="card-header">
                <a class="nav-link" href="{% url 'adauga_furnizor' %}">
                    <i class="fa-solid fa-plus fa-lg"></i> Adaugă furnizor
                </a>
                <!-- <i class="fa-solid fa-list fa-lg"></i> Adauga furnizori -->
            </div>
            <div class="card-body">
                <p class="card-text">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">CUI</th>
                                <th scope="col">Nume</th>
                                <th scope="col">Adresa</th>
                                <th scope="col">Nr. Reg. Com</th>
                                <th scope="col">Telefon</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for furnizor in furnizori %}
                            <tr>
                                <td>{{ furnizor.cui }}</td>
                                <td>{{ furnizor.nume }}</td>
                                <td>{{ furnizor.adresa }}</td>
                                <td>{{ furnizor.numar_reg_com }}</td>
                                <td>{{ furnizor.telefon }}</td>
                                <td>
                                    <button type="button" class="btn btn-success me-1"
                                        href="{% url 'vezi_furnizor' furnizor.id %}" data-bs-toggle="modal"
                                        data-bs-target="#myModal{{furnizor.id}}">
                                        <i class="fa-solid fa-circle-info fa-lg"></i>
                                    </button>

                                    <!-- Modal - View Student -->
                                    <div class="modal" id="myModal{{furnizor.id}}" tabindex="-1"
                                        aria-labelledby="myModalLabel1" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">
                                                        Furnizor: {{ furnizor.nume }}
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true"></span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <ul class="list-unstyled">
                                                        <li>CUI: <strong>
                                                                {{ furnizor.cui }}</strong></li>
                                                        <li>Adresa: <strong>{{ furnizor.adresa }}</strong></li>
                                                        <li>Nr. Reg. Com: <strong>{{ furnizor.numar_reg_com }}</strong>
                                                        </li>
                                                        <li>Telefon: <strong>{{ furnizor.telefon }}</strong></li>
                                                    </ul>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary"
                                                        data-bs-dismiss="modal">Închide</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <a class="btn btn-warning me-1" href="{% url 'editeaza_furnizor' furnizor.id %}">
                                        <i class="fa-solid fa-pen-to-square fa-lg"></i>
                                    </a>

                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#delete{{furnizor.id}}">
                                        <i class="fa-solid fa-trash-can fa-lg"></i>
                                    </button>

                                    <!-- Modal - Delete Student -->
                                    <div class="modal" id="delete{{furnizor.id}}" tabindex="-1"
                                        aria-labelledby="myModalLabel2" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">
                                                        Furnizor: {{ furnizor.nume }}
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true"></span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Ești sigur că vrei să ștergi furnizorul?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <form action="{% url 'sterge_furnizor' furnizor.id %}"
                                                        method="POST">
                                                        {% csrf_token %}
                                                        <input type="submit" class="btn btn-primary" value="Delete">
                                                    </form>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Anulare</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </p>
            </div>
        </div>
        {% else %}
        <h5 class="alert alert-primary ms-4 me-4">Nu sunt înregistrări</h5>
        {% endif %}
    </div>
</div>
{% endblock %}