{% extends "Gestiune/base.html" %}

{% block body %}
<section id="about" class="text-center py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <h2 class="fw-bold">Sistem de management al stocurilor</h2>
            <p class="lead text-muted mb-5">
                Aici pun o foarte scurta desciere
            </p>
        </div>
    </div>
    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-4 mx-auto mb-5 bg-light">
                <div class="d-flex mb-0 about">
                    <span class="material-icons-outlined m-auto text-primary"><a href="{% url 'index_furnizori' %}"><img
                                class="img-fluid rounded-3 my-1" src="static/images/furnizori.jpeg"
                                alt="Furnizori"></a></span>
                </div>
                <h5><a class="btn btn-outline-primary btn-large text-uppercase" href="{% url 'index_furnizori' %}">
                        Furnizori
                    </a></h5>
            </div>
            <div class="col-lg-4 mx-auto mb-5 bg-light">
                <div class="d-flex mb-0 about">
                    <span class="material-icons-outlined m-auto text-primary"><a href="{% url 'index_contacte' %}"><img
                                class="img-fluid rounded-3 my-1" src="static/images/contacte.jpg"
                                alt="Contacte"></a></span>
                </div>
                <h5><a class="btn btn-outline-primary btn-large text-uppercase" href="{% url 'index_furnizori' %}">
                        Contacte
                    </a></h5>
            </div>
            <div class="col-lg-4 mx-auto mb-5">
                <div class="d-flex mb-1 about">
                    <span class="material-icons-outlined m-auto text-primary"><img class="img-fluid rounded-3 my-0"
                            src="static/images/furnizori.jpeg" alt="Furnizori"></span>
                </div>
                <h5><a class="btn btn-outline-primary btn-large text-uppercase" href="{% url 'index_furnizori' %}">
                        Furnizori
                    </a></h5>
                <!-- <p class="text-muted mb-0">
                    Suntem alături de tine în tot procesul de amenajare, deschidere si managementul agenției
                    tale de succes.
                </p> -->
            </div>
            <div class="col-lg-4 mx-auto mb-5">
                <div class="d-flex mb-1 about">
                    <span class="material-icons-outlined m-auto text-primary"><img class="img-fluid rounded-3 my-0"
                            src="static/images/furnizori.jpeg" alt="Furnizori"></span>
                </div>
                <h5><a class="btn btn-outline-primary btn-large text-uppercase" href="{% url 'index_furnizori' %}">
                        Furnizori
                    </a></h5>
                <!-- <p class="text-muted mb-0">
                    Suntem alături de tine în tot procesul de amenajare, deschidere si managementul agenției
                    tale de succes.
                </p> -->
            </div>
            <div class="col-lg-4 mx-auto mb-5">
                <div class="d-flex mb-1 about">
                    <span class="material-icons-outlined m-auto text-primary"><img class="img-fluid rounded-3 my-0"
                            src="static/images/furnizori.jpeg" alt="Furnizori"></span>
                </div>
                <h5><a class="btn btn-outline-primary btn-large text-uppercase" href="{% url 'index_furnizori' %}">
                        Furnizori
                    </a></h5>
                <!-- <p class="text-muted mb-0">
                    Suntem alături de tine în tot procesul de amenajare, deschidere si managementul agenției
                    tale de succes.
                </p> -->
            </div>
            <div class="col-lg-4 mx-auto mb-5">
                <div class="d-flex mb-1 about">
                    <span class="material-icons-outlined m-auto text-primary"><img class="img-fluid rounded-3 my-0"
                            src="static/images/furnizori.jpeg" alt="Furnizori"></span>
                </div>
                <h5><a class="btn btn-outline-primary btn-large text-uppercase" href="{% url 'index_furnizori' %}">
                        Furnizori
                    </a></h5>
                <!-- <p class="text-muted mb-0">
                    Suntem alături de tine în tot procesul de amenajare, deschidere si managementul agenției
                    tale de succes.
                </p> -->
            </div>
            <div class="col-lg-4 mx-auto mb-5">
                <div class="d-flex mb-1 about">
                    <span class="material-icons-outlined m-auto text-primary"><a href="{% url 'index_furnizori' %}"><img
                                class="img-fluid rounded-3 my-0" src="static/images/furnizori.jpeg"
                                alt="Furnizori"></a></span>
                </div>
                <h5><a class="btn btn-outline-primary btn-large text-uppercase" href="{% url 'index_furnizori' %}">
                        Furnizori
                    </a></h5>
                <!-- <p class="text-muted mb-0">
                    Suntem alături de tine în tot procesul de amenajare, deschidere si managementul agenției
                    tale de succes.
                </p> -->
            </div>

        </div>
    </div>
</section>
{% endblock %}